.image-container {
    position: relative;
}
.image-container img {
    position: relative;
    z-index: 1; /* 이미지를 앞에 배치 */
    
}
.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    
    z-index: 0;
}