* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    font-size: 10px;
  }
  
  li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 20px;
  }
  
  .hbody {
    background-color: black;
    width: 100%;
    height: 70px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .title {
    font-size: 2em;
    margin-left: 30px;
  }
  
  .title > a {
    
    color: white;
  }
  
  #menu1 {
    display: none;
    transition: all 0.3s ease;
  }
  
  #menu li {
    margin: 10px 0;
  }
  #menu2 li{
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  #menu2 li:hover{
   transform:translateY(-3.5px);
   
  }
  #menu2 li:hover a{
    transform:translateY(-3.5px);
    text-decoration: underline;
   }

   #menu3 li{
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-left: 15px;
  }
  #menu3 li:hover{
   transform:translateY(-3.5px);
   
  }
  #menu3 li:hover a{
    transform:translateY(-3.5px);
    text-decoration: underline;
   }
  
  .menu-toggle {
    cursor: pointer;
  }
  
  #menu1.open {
    display: flex;
    flex-direction: column;
  }
  #menu3{
    display: flex;
    margin-right: 20px;
  }
  
  @media screen and (min-width: 625px) {
    #menu2 {
      display: flex;
      transition: none;
    }
  
    .menu-toggle {
      display: none;
    }
  
    #menu2 > li {
      padding: 20px 30px;
      font-size: 20px;
    }
  
    li > a {
      color: white;
    }
  
    .fab {
      font-size: 35px;
      color: #1DA1F2;
    }
  
    .fas {
      display: none;
    }
  }
  
  @media screen and (max-width: 625px) {
    .nav {
      padding: 30px 40px;
    }
  
    #menu2 {
      display: none;
    }
  
    .fab {
      display: none;
    }
  
    .fas {
      font-size: 2em;
    }
  }