
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.text-animation {
    width: 300px;
    margin: 0 auto;
}
  .text-animation span{
    border-right: 2px solid white;

  }
  .text-animation h2{
    color: white;
    font-style: Lato !important;

  }
  .text-animation p{
    color: #c8a755;
  } 
 
